# IDE / editor
.idea/

# dotenv
.env
/logs
logs
# virtualenv
.venv/
venv/
ENV/

# Ignore all migration files but keep __init__.py
*/migrations/*
!*/migrations/__init__.py

# Django
*.pyc
__pycache__/
db.sqlite3
/media/
/mediafiles
mediafiles/
staticfiles/
static/

# Logs
*.log

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Test / coverage
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Packaging


# Jupyter
*.ipynb_checkpoints
eslatmalar.txt